body {
    background: #F8F3ED;
    font-family: "Nunito Sans", serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
    margin-left: 60px;
    margin-right:60px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    margin-right: 32px;
    color: #19191D;
    list-style: none;
    font-size: 12px;
}

p {
    font-size: 18px;
}

.cta {
    color: #FFFFFF;
    background-color: #000000;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#call {
    width: 219px;
    height: 38px;
}

#nav-call {
    width: 77px;
    height: 32px;
}

